body {
        background-color: #67C6C5;
        margin: 150px;
        margin-top: 0px;
        list-style-position:inside
}
div{
        padding: 10px;
}

.image{
        width: 400px;
        height:400px;
}
nav{
        margin-left: 400px;
        
}
article{
        margin: 0px auto 50px 300px;
}
.left{
        float: left;
}